@import reset

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
/* ----------------------- VARIABLES   --------------------------------- */
$color-dark: #000000
$color-light: #FFFFFF
$color-blue: #1EACC7


/* ----------------------  BODY & COMMON STYLES OF ELEMENTS  ----------------------------------- */
body 
   font-family: Roboto
   line-height: 100%
   font-style: normal
   font-weight: 400

.container 
   max-width: 1140px
   margin: 0 auto

.common-btn 
   width: 172px
   height: 46px
   background: linear-gradient(0deg, $color-blue 0%, #4CE2FF 100%)
   box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12)
   border-radius: 4px
   color: $color-light
   text-transform: uppercase
   &:hover
      cursor: pointer

.section-title 
   width: 113px
   height: 24px
   background-color: $color-dark
   color: $color-light
   font-size: 11px
   text-align: center
   text-transform: uppercase
   line-height: 24px
   margin: 0 auto

.section-header 
   font-weight: bold
   font-size: 38px
   line-height: 1.26
   text-align: center
   text-transform: uppercase

.section-subheader 
   font-weight: normal
   font-size: 17px
   line-height: 1.23
   text-align: center

/* --------------------    HEADER   ------------------------------- */
.header 
   min-height: 136px
   background-color: #212121
   z-index: 50
   .header__container 
      padding: 0 20px 0 20px
      nav
         margin-bottom: 22px
         .header__menu 
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            width: 100%
            height: 50px
            .menu__item
               border-right: 2px dashed $color-dark
               .menu_link 
                  margin: 0 35px
                  font-size: 15px
                  font-weight: 300
                  color: $color-light
               &:last-child
                  border-right: none
                     



      .intro 
         padding: 0 77px
         display: flex
         justify-content: space-between
         .info 
         .header__info 
            .info__logo 
               margin-bottom: 5px
            .info__descr
               color: $color-light 
               font-size: 13px
               font-weight: 100
         .connection
            display: flex
            justify-content: space-between
            gap: 18px
            .call-block 
               .call-block__text 
                  .call-block__descr 
                     font-size: 13px
                     font-weight: 300
                     line-height: 116%                 
                     text-align: right
                     color: $color-light
                  .call-block__tel 
                     font-size: 23px
                     line-height: 150%
                     text-align: center;
                     color: $color-light
.start-page 
   min-height: 799px
   background: url('../assets/img/uber_first_section_bg.jpg') center center/cover no-repeat
   margin-top: -87px
   z-index: -120
   .start-page__container 
      padding: 157px 77px
      .company-name
         font-weight: 900
         font-size: 60px
         color: $color-light
         margin-bottom: 23px
         text-align: center
      .inviting 
         font-weight: bold
         font-size: 36px
         line-height: 48px
         color: $color-light
         margin-bottom: 21px
         text-align: center
      .about-company 
         font-weight: normal
         font-size: 18px
         line-height: 1.33
         color: $color-light
         width: 953px
         margin: 0 auto
         text-align: center
         margin-bottom: 28px
      .about-company-2
         margin-bottom: 116px

      .request-btn 
         display: block
         margin: 0 auto
         width: 259px
         height: 63px
         font-size: 18px
         line-height: 63px
.profits 
   min-height: 849px
   .profits__container 
      padding: 22px 33px 0 33px
      .profits-title
         margin-bottom: 33px
      .profits-header
         margin-bottom: 16px
      .reason-wrapper 
         display: flex
         justify-content: space-between
         flex-wrap: wrap
         gap: 60px
         .reason-item 
            display: flex
            margin-bottom: 30px
            gap: 25px
            .reason__img-block 
               width: 116px
               height: 116px
               background-color: $color-blue
               border-radius: 50%
               display: flex
               justify-content: center
               align-items: center
               .reason__img 

            .reason__text-block 
               width: 365px
               height: 150px
               font-size: 17px
               line-height: 1.23
               & span
                  color: $color-blue

.opportunities__container 
   min-height: 864px
   padding: 48px 30 px 80px 30px

   .opportunities-title 
      margin-bottom: 33px

   .opportunities-header 
      margin-bottom: 1px

   .opportunities__subheader 
      margin-bottom: 30px
   .opportunities__wrapper 
      display: flex
      flex-wrap: wrap
      gap: 19px 67px
      justify-content: space-between
      align-items: center

      .opportunites__item 
         width: 320px
         height: 280px
         position: relative
         .item-title
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            padding: 88px 26px 34px 26px
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            .opportunites__item-title 
               pxfont-size: 24px
               line-height: 1.3
               color: $color-light
               text-transform: uppercase
               text-align: center
            .opportunites__plus-icon 
.car 
   min-height: 897px
   background-image: linear-gradient(top, $color-dark, $color-dark 55%, $color-light 55%, $color-light 100%)
   .car__container 
      padding: 57px 190px 137px 191px
      .car__img 
         display: block
      .car__descr 
         font-weight: 300
         font-size: 17px
         line-height: 1.41
         text-align: center
.car-title 
   background-color: $color-light
   color: $color-dark
   margin-bottom: 37px
.car-header 
   color: $color-light
   margin-bottom: 1px
.car__subheader 
   color: $color-light
   margin-bottom: 54px
.requirements 
   min-height: 917px
   .requirements__container 
      padding: 0 5px
      .requirements-title
         margin-bottom: 28px
      .requirements-header 
         margin-bottom: 33px
      .lists-wrapper 
         .conditions__wrap
            display: flex
            flex-wrap: wrap
            gap: 58px
            margin-bottom: 60px
.your-auto, .reqs
   max-width: 550px
.conditions__header
   font-size: 22px
   line-height: 24px
   color: #1CA8C3
   margin-bottom: 20px
.conditions__list
   font-weight: 300
   font-size: 17px
   line-height: 24px
   text-indent: 50px
   color: #222222
   margin-bottom: 25px
   .conditions__item
      position: relative
      &::before
         content: ""
         background-image: url('./../assets/icons/check_blue.png')
         position: absolute
         top: 0
         left: 0
         width: 21px
         height: 20px
.some-text
   font-weight: 300
   font-size: 17px
   line-height: 24px
   color: #1CA8C3
.our-auto, .docs 
   max-width: 508px
   .our-auto__header 
      font-size: 22px
      line-height: 24px
      color: #1CA8C3

   .our-auto__list 

      .our-auto__item 

.requirement__wrap 
   display: flex
   flex-wrap: wrap
   .requirement__lists

      .requirement__header 
         font-size: 22px
         line-height: 24px
         color: #ff5656
         margin-bottom: 26px
      .requirement__list 
         .requirement__item  
            position: relative
            font-weight: 300
            font-size: 17px
            line-height: 24px
            text-indent: 50px
            color: #222222
            &::before
               content: ""
               background-image: url('./../assets/icons/check_red.png')
               position: absolute
               top: 0
               left: 0
               width: 21px
               height: 20px
.whole-world 
   height: 717px
   background-color: #080816
   .whole-world__container 
      max-width: 1440px
      height: 100%
      padding: 48px 0 22px 0
      display: flex
      flex-direction: column
      justify-content: space-between
      background: url('./../assets/img/world_bg.jpg') center center/cover no-repeat
      .ww__wrapper
         .whole-world-title 
            margin-bottom: 26px
         .whole-world-header 
            margin-bottom: 2px
         .whole-world__subheader 

      .whole-world__link 
         font-size: 15px
         line-height: 68px
         text-transform: uppercase
         text-align: center
         color: #1FBAD6
.footer 
   min-height: 155px
   .footer__wrapper
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      padding: 12px 25px 37px 25px
      position: relative


.socials, .apps__list 
   display: flex
   flex-wrap: wrap
   gap: 6px
   margin-top: 50px
.socials__icon 
   width: 35px
   height: 35px
   background-color: $color-dark
   border-radius: 50%
   use
      width: 100%
      height: 100%
      fill: $color-light

.site-map 
   position: relative
   &::before
      content: ''
      width: 301px
      height: 7px
      position: absolute
      background-color: #1FBAD6
      left: calc( 50% - 150px )
   

.first-line
   padding-top: 55px 
   margin-bottom: 14px

.first-line__list 
   display: flex
   flex-wrap: wrap
   justify-content: space-between
   max-width: 390px
   gap: 45px
   .first-line__item 
      a
         font-weight: 300
         font-size: 15px
         text-transform: uppercase
         color: #070716

.second-line 
   margin-bottom: 14px

.second-line__list 
   display: flex
   flex-wrap: wrap
   justify-content: space-between
   .second-line__item 
      a
         font-weight: 300
         font-size: 11px
         text-transform: uppercase
         color: #999999

.second-line__link 

.lang 
   font-size: 11px
   line-height: 11px
   text-transform: uppercase
   color: #1FBAD6
   margin: 0 auto
   text-align: center

.apps 


.apps__list 

.apps__item 

.apps__link 

.apps__img 
